<nav>
    <ul class="nav bg-light nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Privado</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
    </ul>
</nav>