<div class="container mt-5 text-white">
    <div class="row">
        <form class="container col-6 bg-dark py-4 col-11 col-md-8 col-lg-6" action="login" method="POST">
            <div class="mb-3">
                <label for="user" class="form-label">Username</label>
                <input name="user" type="text" class="form-control" id="user">
               
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Password</label>
                <input name="pass" type="password" class="form-control" id="pass">
            </div>
<p class="text-white">{{messagge}}</p>
            <button type="submit" class="btn btn-primary ">Submit</button>
        </form>
    </div>
</div>