<div class="container ">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <img class="img-fluid shadow-lg border border-3 border-white rounded" src="images/you_shall_not_pass.jpg"
                alt="no auth, no access">
        </div>
    </div>
</div>
</div>
</div>