<div class="container text-white">

    <h2>Sección privada con autorización</h2>
    <p>Hola {{user}}</p>
    <a href="/login/logout"><input class="btn btn-danger" type="button" value="logout"></a>
</div>